@import '../../assets/styles/variables.scss';

.authentication {
    position: relative;
    &__content {
        min-height: 670px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 90px 200px;
        background-color: var(--theme-color);
        border-radius: 0 0 30px 30px;
    }

    &__background{
        position: absolute;
        top: 5%;
        left: 26%;
    }
}