@import '../../assets/styles/variables.scss';

.authentication {
    &__content {
        padding: 90px 0 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-theme-color);
        border-radius: 0 0 30px 30px;

        img {
            width: 900px;
            height: 755px;
        }
    }
}