@import '../../assets/styles/variables.scss';

input {
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--background-input-color);
    border: none;
    border-radius: 10px;
    outline: none;

    &:focus {
        border: 1px solid var(--theme-color);
    }
}