//colors
:root {
    --light-color: #ffffff;
    --dark-color:#000000;
    --background-input-color:#F5F5F5;
    --text-box-color: #B0B0B0;
    --theme-color: #FF6363;
    --red-hover-color: #E85A5A;
    --red-dark-color:#B54646;
    --green-color: #179692;
    --green-hover-color: #16918E;
}