@import '../../assets/styles/variables.scss';

.forms {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: 20px;

    &__tabs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 20px 20px;
        border-bottom: 4px solid var(--background-theme-color);

        &--signUp,
        &--signIn {
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 25px 0;
            border-radius: 20px;

            a {
                text-decoration: none;
                color: var(--background-theme-color);
                font-size: 1.25rem;
                font-weight: bold;
            }
        }

        &--signUp {
            background-color: var(--light-color);
        }
    }

    &__form {
        width: 60%;

        .form {
            position: relative;
            display: flex;
            flex-direction: column;

            span {
                font-size: 1rem;
                margin: 30px 0;
            }

            input {
                padding: 15px;
                margin-bottom: 15px;
                background-color: var(--background-input-color);
                border: none;
                border-radius: 10px;
                outline: none;

                &:focus {
                    border: 1px solid var(--background-theme-color);
                }
            }

            img{
                width: 25px;
                height: 25px;
                position: absolute;
                top: 227px;
                left: 15px;
                opacity: 1;
            }

            select {
                width: 20%;
                padding: 15px;
                border: none;
                border-radius: 10px;
                outline: none;
                position: absolute;
                top: 83px;
                left: 0;
            }

            button {
                width: 60%;
                padding: 15px 50px;
                margin: 15px auto 0;
                color: var(--light-color);
                background-color: var(--background-theme-color);
                border: none;
                border-radius: 10px;
                outline: none;
                cursor: pointer;

                &:hover {
                    background-color: var(--red-hover-color);
                }
            }

            a {
                margin: 15px auto 0;
                text-decoration: none;
                color: black;
            }

            &--verificationCode {
                display: flex;
                justify-content: space-between;

                input {
                    width: 10%;
                    text-align: center;
                }
            }
        }
    }

    &__google {
        margin: 50px 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 15px;
            color: var(--light-color);
            background-color: var(--red-dark-color);
            text-decoration: none;
            border-radius: 15px;
            font-size: 0.875rem;

            img {
                width: 30px;
                height: 30px;
                padding: 12px;
                margin-left: 10px;
                background-color: var(--light-color);
                border-radius: 10px;
            }
        }
    }
}