@import '../../assets/styles/variables.scss';

.forms {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: 20px;
    z-index: 1;

    &__tabs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 20px 20px;
        border-bottom: 4px solid var(--theme-color);
    }

    &__tab {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 25px 0;
        border-radius: 20px;
    }

    &__link {
        text-decoration: none;
        color: var(--theme-color);
        font-size: 1.25rem;
        font-weight: bold;
    }

    &__form {
        width: 60%; 
    }

    &__google-account {
        margin: 50px 0;
    }

    &__account {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        color: var(--light-color);
        background-color: var(--red-dark-color);
        text-decoration: none;
        border-radius: 15px;
        font-size: 0.875rem;
    }

    &__logo {
        width: 30px;
        height: 30px;
        padding: 12px;
        margin-left: 10px;
        background-color: var(--light-color);
        border-radius: 10px;
    }

}